[color]
	ui = auto
[alias]
	gpush = push gerrit HEAD:refs/for/master
	squash = commit --amend --no-edit
	dpush = push gerrit HEAD:refs/drafts/master
[core]
[includeIf "gitdir:~/.yadm/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/p/"]
	path = ~/.gitconfig-personal
[branch]
	autoSetupRebase = local
	autoSetupMerge = always
[commit]
	verbose = true
[include]
	path = .gitconfig.local
